html, body {
    height: 100%;
    background-color: rgb(176, 221, 247);
}

/* the P5 sketch */
main{
    display: flex;
    justify-content: center;  /* To center the sketch horizontally */
    align-items: center;
}

h1{
    font-family: 'American Typewriter', serif;
}

p{
    font-size: 20px;
    font-family: 'American Typewriter', serif;
}